

.container-fluid{display: flex;
                flex-direction: column;
                /**background-image: url(Minimalist\ Sale\ Website\ Banner.png);**/
                background-size: 500px;
                background-position-y: -35px;
                background-position-x: -80px;
                padding: 1%;
                z-index: 1;
               }


.navbar{/*background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(255,255,255,1));*/
        margin: 0%;
        padding: 0%;
        z-index: 1;
        /*box-shadow: 0px 0px 30px 5px;*/}


#ensemble{display: flex;
            flex-direction: row;
            justify-content: space-between;
        }


.collapse{width: 100%;
        padding-left: 3%;
        }

#page{width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
            }

.nav-item{margin-right:5%;}

.nav-item:nth-child(5){margin-left: 5%;}

.nav-link{font-size: 1.5em;
            font-weight: 600;
            color: black;
            border: 2px solid;
            border-radius: 20px;
        }

.nav-link:hover{border-bottom: 2px solid !important;
                color: black;}

#bouteille{position: relative;
            top: -50px;
            }


/**Fin Header**/


#marque{display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 5%;
        background-image: url();
        }

#explication {text-align: center;
                width: 50%;}

#explication h1{font-size: 4em;
                padding-top: 5%;
                margin-bottom: 5%;
                color: black;}

#explication p {font-size: 1.7em;
                padding: 5%;
                color: rgb(80,80,80);}


/**Fin Secion Marque**/

.trait { border-bottom: 2px solid;
        width: 30%;
        padding-top: 4%;
        margin-left: 35%;}

/**Debut Section Kombucha**/

#bouteille{position: relative;
            top:120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            }

#bouteille h1{margin-bottom: 5%;
            color: white;
            font-family: 'Fredericka the Great', cursive;}

#description{position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            right: 300px;
            bottom:400px;
            }

            #description_2{position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                left: 250px;
                bottom:900px;
                }


#description p , #description_2 p {margin-bottom: 8%;
                font-size: 1.6em;
            color: white;
            font-family: 'Fredericka the Great', cursive;}

#description p{transform: rotate(-20deg);}

#description_2 p{transform: rotate(20deg);}

#kombucha{
        background:linear-gradient(to top , rgb(255,255,255),rgb(250,241,212),rgb(250,241,212),rgb(255,255,255));
        }

#fleche1{position: relative;
        bottom:1360px;
        left:670px;}

        #fleche2{position: relative;
            bottom:1170px;
            left:470px;}

            #fleche3{position: relative;
                bottom:980px;
                left:270px;}

/**main {display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;


}


#explication{width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
         margin-top: 2%;
        margin-left: 13%;   }

#Logo_2{margin-left: 22%;}

main{margin-top: 3%;}

#explication h1 {margin-bottom: 5%;
                font-size: 3em;}

#explication p {
                font-size: 1.3em;}


#kombucha{background-image: url(OIP_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        position: relative;
        right:150px;
        width: 120%;
        height: 730px;}


#bouteille{position: relative;
            top:20px;
            left:240px;}

#description {position: relative;
            bottom:450px;
            left: 100px;
            }

#description p { color: white;
                margin-bottom: 15%;
                font-size: 1.7em;
                font-family: 'Fredericka the Great', cursive;}

#description p:first-child{position: relative;
                            bottom: 220px;
                            right: 100px;
                            transform: rotate(-20deg);
}                                  

#description p:nth-child(2){position: relative;
                            transform: rotate(20deg);
                            top:60px;
                            right: 50px;}


#description p:last-child{position: relative;
                            top:0px;
                            transform: rotate(-5deg);}


                            #description_2 {position: relative;
                                bottom:750px;
                                left: 550px;
                                }
                    
                    #description_2 p { color: white;
                                    margin-bottom: 15%;
                                    font-size: 1.7em;
                                    font-family: 'Fredericka the Great', cursive;}
                    
                    #description_2 p:first-child{position: relative;
                                                bottom: 90px;
                                                right: 30px;
                                                transform: rotate(20deg);
                    }                                  
                
                    
                    #description_2 p:last-child{position: relative;
                        top:50px;
                        right: 20px;
                                                transform: rotate(20deg);}


#fleche1{position: relative;
        bottom:1320px;
        left:70px;}


        #fleche2{position: relative;
            bottom:1080px;
            right:120px;
            transform: rotate(25deg);}

            #fleche3{position: relative;
                bottom:940px;
                right:270px;
                transform:rotateX(180deg);}


                #fleche4{position: relative;
                    bottom:1350px;
                    left:420px;
                    transform:rotateY(180deg);}

                    #fleche5{position: relative;
                        bottom:1050px;
                        left:250px;
                        transform:rotateY(180deg);}

#kombucha h1 {position: relative;
                left: 120px;
                top:20px;
                color:white;
                font-family: 'Fredericka the Great', cursive;}**/