@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Navbar */


.navbar{/*background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(255,255,255,1));*/
    margin: 0%;
    padding: 0%;
    position: fixed;
    width: 100%;
    z-index: 1;
    background:linear-gradient(to top,rgba(255,255,255,0),rgba(255,255,255,0.7));
    /*box-shadow: 0px 0px 30px 5px;*/}

.scroll{
    background-color: white !important;
    opacity: 1 !important;
}

#ensemble{display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


.collapse{width: 100%;
    }

#page{width: 100%; 
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding-left: 3%;
padding-right:2%

        }



.nav-link{font-size: 1.8em;
        font-weight: 600;
        color: black;
        font-family: 'Pompiere', cursive;
        width: 110%;
        padding: 30%;
    }

    .btn{font-size: 1.8em;
            font-weight: 600;
            color:black;
            font-family: 'Pompiere', cursive;
            width: 150%;
            padding: 0%;
            height: 146px;
    }

    #nav-link-galerie {
            background-image: url(SVG/blob10pxsvg.svg);
            background-repeat: no-repeat;
            background-size: 102px;
            background-position: center;
    }
    #nav-link-pro {
            background-image: url(SVG/blob1.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    }
    #nav-link-fermente {
            background-image: url(SVG/blob4.svg);
            background-repeat: no-repeat;
            background-size: 120px;
            background-position: center;
    }
    #nav-link-contact {
            background-image: url(SVG/blob5.svg);
            background-repeat: no-repeat;
            background-size: 110px;
            background-position: center;
            
    }

    #T_V{position: absolute;
            top: 300px;
            left: 550px;
            font-size: 1.8em;
            width: 30%;
            text-align: center;
            color: white;
            font-family: 'Pompiere', cursive;}


/**Fin Header**/

/* Body */

hr{
    height: 1px;
        background-color: #000000;
        border: none;
        opacity: 1;
        margin-left: 30%;
        margin-right: 30%;
}

#sep{
    margin-top: 2%;
    margin-bottom: 3%;
}

#ppola{
    width: 68%;
    border-radius: 10%;
    position: relative;
    top: 2px;
}

.imgpres {
    background-image: url(Img/Logo_OLBB_OLBB-removebg-preview.png);
    background-size: cover;
    width: 150%;
    display: flex;
    flex-direction: column ;
    padding: 1%;
    align-items: center;
}

h2{
    background-color: #000000;
    color: white;
    
    margin-left: 10%;
    border-radius: 8px;
}

#Pres{
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.textepres{
    background-color: #F7F7F7;
    border: solid 1px;
    border-radius: 10px;
    margin-right: 5%;
padding: 2%;
font-family: 'Josefin Sans', sans-serif;
margin-left: 10%;
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
}


#pdtimg{
    object-fit: cover;
    width: 100%;
height: 800px;
-webkit-filter: blur(4px);
}

#title{
    position: absolute;
    top: 60%;
    background-color: #000000;
    color: white;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-top-left-radius: 1em ;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 1em;
}

#titledisp{
    display: flex;
    justify-content: center;
}

.imgdisplay{
    display: flex;
    justify-content: center;
}

/* Fin Body */

/* Debut Footer */
.footer-items li {

    padding: 25px;
    list-style: none;
    
}
    
a:link, a:visited {
    
    text-decoration: none;
    color: black;
    
    }
    
.footer-items {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 7%;

    }
/*Fin de Footer*/

/* Responsive */

@media (max-width:1450px) {
    .imgpres {
    width: 400%;
    }
}

@media (max-width:990px) {
#Pres{
    flex-wrap: wrap;
flex-direction: column;
}

.textepres{
    margin-right: 0;
   margin-top: 10%;
   margin-left: 0;
}

#pdtimg{
height: 400px;
}

#title{
    top: 30%;
}

.imgpres {
    width: 50%;
    height: 100%;
}

h2{
    font-size: 150%;
}
}

@media (max-width:550px) {
    h2{
        font-size: 95%;
    }
}

/* responsive nav bar */

@media screen and (min-width:750px) and  (max-width:991.9px) {
    .navbar{background:linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0))}

    #logo{width:0px;
            height:0px;}

    #page{display: flex;
            flex-direction: column;
            margin: 0%;
            padding-left: 50%;
            }

    #page li{width: 150%;}

    .nav-link{font-size: 1.8em;
            width: 30%;
            padding:1%;
            margin: 0%;
            }

            .btn{font-size: 1.8em;
                    width: 180%;
                    padding:0%;
                    margin:0%;
                    height: 50px;
                    }

    .dropdown{padding-right: 142%;
            width: 170%;}

    .nav-link:hover{background-color: rgba(0,0,0,0.5);}

    .btn:hover{background-color: rgba(0,0,0,0.5);}


            #nav-link-galerie {
                    background-image: url(SVG/blob10pxsvg.svg);
                    background-repeat: no-repeat;
                    background-size: 0px;
                    background-position: center;
            }
            #nav-link-pro {
                    background-image: url(SVG/blob1.svg);
                    background-repeat: no-repeat;
                    background-size:0px;
                    background-position: center;
            }
            #nav-link-fermente {
                    background-image: url(SVG/blob4.svg);
                    background-repeat: no-repeat;
                    background-size: 0px;
                    background-position: center;
            }
            #nav-link-contact {
                    background-image: url(SVG/blob5.svg);
                    background-repeat: no-repeat;
                    background-size: 0px;
                    background-position: center;
                    
            }

    #T_V{position:absolute;
            left: 120px;
    width:70%;}

    .footer-items{padding-right: 0%;
        padding-left: 0%;
        margin-right: 10%;}

}

    @media screen and (max-width:749.9px) {


        
        #T_V{position: absolute;
                left:110px;
                width: 60%;}

                .navbar{background:linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0))}

                #logo{width:0px;
                        height:0px;}
        
                #page{display: flex;
                        flex-direction: column;
                        margin: 0%;
                        padding-left: 50%;
                        }
        
                #page li{width: 150%;}
        
                .nav-link{font-size: 1.8em;
                        width: 50%;
                        padding:1%;
                        margin: 0%;
                        }
        
                        .btn{font-size: 1.8em;
                                width: 180%;
                                padding:0%;
                                margin:0%;
                                height: 50px;
                                }
        
                .dropdown{padding-right: 137%;
                        width: 170%;}

                       
                        .nav-link:hover{background-color: rgba(0,0,0,0.5)}

                        .btn:hover{background-color: rgba(0,0,0,0.5)}
                
                
                                #nav-link-galerie {
                                        background-image: url(SVG/blob10pxsvg.svg);
                                        background-repeat: no-repeat;
                                        background-size: 0px;
                                        background-position: center;
                                }
                                #nav-link-pro {
                                        background-image: url(SVG/blob1.svg);
                                        background-repeat: no-repeat;
                                        background-size:0px;
                                        background-position: center;
                                }
                                #nav-link-fermente {
                                        background-image: url(SVG/blob4.svg);
                                        background-repeat: no-repeat;
                                        background-size: 0px;
                                        background-position: center;
                                }
                                #nav-link-contact {
                                        background-image: url(SVG/blob5.svg);
                                        background-repeat: no-repeat;
                                        background-size: 0px;
                                        background-position: center;
                                        
                                }
                                .footer-items{display: flex;
                                    flex-direction: column;}
                            }

                            @media screen and (min-width:320px) and (max-width:400px) {
                                #T_V{position: absolute;
                                    left:40px;
                                    top:350px;
                                    width:70%}
                            
                            }


/* Fin Responsive */
